@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;

    font-family: Roboto, sans-serif;
  }
}

.carousel__slide {
  align-items: normal !important;
}

// Bullet Pagination
.carousel__pagination {
  @apply absolute bottom-[30px] w-full flex flex-row justify-center gap-[12px] z-10;

  .carousel__pagination-button {
    width: 10px;
    height: 10px;
    background-color: #D8D8D8;
    border-radius: 999999px;

    &::after {
      content: none;
    }

    &.carousel__pagination-button--active {
      background-color: #603EBE;
    }
  }
}
